# Временные и системные файлы
*.log
*.tmp
*.bak
*.swp
.vs/
*.ipch

# Файлы компиляции
*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.pch
*.pdb
*.ilk

# Visual Studio
.vs/
*.vcxproj*
*.sln
*.user
*.opendb
*.tlog/
*.idb
*.ipch
*.aps


build/
Debug/
Release/
x64/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Кэш CMake
CMakeSettings.json
*.dir/
Testing/
CTestTestfile.cmake
install_manifest.txt


.idea/
*.iml


*.nnue
*.bin


.vscode/


*.epd
*.bin
*.polyglot
*.book


*.pgn
*.fen